<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Cadastro</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/cadastro.css") }}'>
    </head>

    <body>
        <div class="main-Cadastro">
            <div class="left-Cadastro">
                <h1>Faça seu Cadastro</h1>
                <img src="{{ url_for('static', filename='image/img-login.png') }}" class="left-Cadastro-img"
                    alt="img-Cadastro">
            </div>
            <div class="right-Cadastro">
                {% include 'partials/alert.html' %}
               
                <form class="r-card-Cadastro" method="POST" action="{{ url_for('cadastro') }}">
                    <h1>Cadastro</h1>
                    <div class="textfield">
                        <label for="username">Usuário/email</label>
                        <input type="text" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="password">Senha</label>
                        <input type="password" name="password" placeholder="senha" required>
                    </div>
                    <div class="textfield">
                        <label for="confirm_password">Confirmar senha</label>
                        <input type="password" name="confirm_password" placeholder="confirmar senha" required>
                    </div>
                    <button class="btn-cadastro" type="submit">Cadastrar</button>
                    <a href="{{ url_for('login') }}">Já possui uma conta?</a>
                </form>
           
            </div>

        </div>

    </body>

</html>