<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteWise</title>
    <link rel="stylesheet" href="./static/Anotacoes-grafos/style/navbar.css">
    <link rel='stylesheet' type='text/css' media='screen' href='./static/Anotacoes-grafos/style/style.css'>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="./static/Anotacoes-grafos/script/grafos.js"></script>
    <script src="./static/Anotacoes-grafos/script/script.js" defer></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>

    {% include 'partials/navbar.html' %}
    
    <div class="main-content">
        <h1 class="title">Visualização de grafos</h1>
        <div id="graph"></div>
    </div>

</body>

</html>