<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grafo.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{{ url_for('static', filename='js/grafos.js') }}"></script>
</head>

<body>

    {% include 'partials/navbar.html' %}

    <div class="main-content">
        <h1 class="title">Visualização de grafos</h1>
        <div id="graph">
        </div>
    </div>

</body>

</html>