<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Zetria</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/login.css") }}'>
    
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Boas vindas ao Zetria!<br>
                Para continuar faça login na sua conta.</h1>
            <img src="{{ url_for('static', filename='image/img-login.png') }}" class="left-login-img" alt="img-login">
        </div>
        <div class="right-login">
            {% include 'partials/alert.html' %}

            <form class="r-card-login" method="POST" action="{{ url_for('login') }}">
                <h1>Login</h1>
                <div class="textfield">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="password">Senha</label>
                    <input type="password" name="password" placeholder="senha" required>
                </div>
                <button class="btn-login" type="submit">Login</button>
                <a href="{{ url_for('cadastro') }}">Não possuí uma conta?</a>
            </form>
        </div>


    </div>

</body>

</html>