<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de anotações</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style/navbar.css">
    <link rel="stylesheet" href="./style/style.css">
    <script src="./static/Criacao-nota/script/script.js"></script>
    <script src="./static/Criacao-nota/script/editor.js"></script>
</head>

<body>

    <!-- Botão de menu hamburguer (visível apenas em mobile) -->
    <button class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
    </button>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-top">
            <div class="sidebar-item active" data-tooltip="Caneta" id="btn-caneta">
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="sidebar-item" data-tooltip="Buscar">
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class="sidebar-bottom">
            <div class="sidebar-item" data-tooltip="Arquivo" id="decks-btn">
                <i class="fa-solid fa-file"> <a href=""></a></i>
            </div>
            <div class="sidebar-item" data-tooltip="Calendário" id="calendario-btn">
                <i class="fa-solid fa-calendar"></i>
            </div>
            <div class="sidebar-item" data-tooltip="Grafos" id="grafos-btn">
                <i class="fa-solid fa-code-branch"></a></i>
            </div>
            <div class="sidebar-item" data-tooltip="Configurações">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>
    </div>


    <div class="main-content">
        <h1 class="title">Criação de documentos</h1>

        <div id="editor-container">
            <textarea id="editor" placeholder="Digite usa nova anotação aqui"></textarea>
            <div id="preview"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/marked@4.0.0/marked.min.js"></script>

</body>

</html>