* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  color: #ffcc00;
  min-height: 100vh;
  position: relative;
  background-color: #1e1e2f;
}

.main-content {
    background-color: #1e1e2f;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

#Box{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto; /*Centralizar*/
    background-color: #2e2e3f;
    border-radius: 2rem; 
    color: #ffcc00;
    align-self: center;
    letter-spacing: 2px;
 }

 /**  Celular **/
 @media (max-width: 768px){

    #Box {
        font-size: 14px;
    }

 }