<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - NoteWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="/flask_core/static/image/notewise_logo1.0.jpg" alt="Logo NoteWise" width="80" height="60">
<div class="container">
    <h2>Login</h2>
    {% if msg %}
        <p class="error">{{ msg }}</p>
    {% endif %}
    <form method="POST">
        <input type="text" name="email" placeholder="Email" required><br>
        <div class="password-field">
            <input type="password" name="password" id="password" placeholder="Senha" required>
            <span onclick="togglePassword()"></span>
        </div>
        <input type="submit" value="Entrar">
    </form>
    <p>Não tem conta? <a href="/register">Cadastrar-se</a></p>
</div>
<script>
function togglePassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
</body>
</html>
